:root {
    /* 폰트사이즈 */
    --Text-Title: 60px;
    --Text-Subtitle: 15px;
    --Text-BodyText: 14px;
    --Text-Supported: 12px;
    --Text-Button: 15px;

    /* 간격값 */
    --Space-Sm: 8px;
    --Space-Md: 16px;
    --Space-Lg: 32px;

    /* 컬러값 */
    --ColorBrand: #557373;
    /* --ColorBase:#F1EFE4; */
    --ColorBase: rgb(245, 245, 247);
    --ColorSurface: #fff;
    --ColorTextPrimary: #333;
    --ColorTextSecondary: #666;
    --ColorTextTertiary: #999;
    --ColorTextOnSurface: #fff;
    --ColorBorder10: rgb(0, 0, 0, 0.1);
    --ColorBorder20: rgb(0, 0, 0, 0.2);

    /* R값 */
    --BorderRadius-Xs: 4px;
    --BorderRadius-Md: 8px;
    --BorderRadius-Lg: 12px;

    /* Transition */
    --transition: 100ms all;
}

body {
    background: var(--ColorBase);
    margin: 0;
    font-family: 'pretendard', sans-serif;
}

/* 헤더 */
.header {
    width: 100%;
    height: 56px;
    background: var(--ColorSurface);
    /* border-bottom: 1px solid var(--ColorBorder10); */
    box-shadow: rgb(234 234 236) 0px 1px 0px;
    z-index: 1000;
    position: fixed;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 56px;
    line-height: 40px;
    max-width: 1200px;
    padding: 0px 20px;
}

.LogoWrap {
    cursor: pointer;
    display: flex;
}

.LogoSymbol {
    width: 96px;
    margin-right: 48px;
}

.SymbolLink {
    display: flex;
}

.HeaderTitle {
    font-size: var(--Text-Subtitle);
    line-height: 56px;
    color: var(--ColorTextSecondary);
}

.BtnBasic {
    font-size: var(--Text-Button);
    cursor: pointer;
    background: var(--ColorBrand);
    height: 40px;
    color: #fff;
    padding: 0px 16px;
    border-radius: var(--BorderRadius-Xs);
    transition: var(--transition);
}

.BtnBasic:hover {
    opacity: 0.9;
}

/* 공통 css */
.main_contents {
    max-width: 1200px;
    display: flex;
    gap: 24px;
    margin: 0 auto;
    padding: 96px 20px 40px 20px;
}

.section-title {
    color: var(--ColorTextPrimary);
    font-size: var(T);
    margin-bottom: var(--Space-Sm);
}

.section-subtitle {
    font-size: var(--Text-Subtitle);
}

.selectboxname,
#date,
.base {
    width: 100%;
    height: 100%;
    background: var(--ColorBase);
    border: 1px solid var(--ColorBorder10);
    padding: 16px;
    appearance: none;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--BorderRadius-Xs)
}

.selectbox_detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.selectbox_label {
    color: var(--ColorTextPrimary);
    font-size: var(--Text-Subtitle);
    font-weight: 400;
    margin: 16px 0px 8px 0px;
}

.selectgroup {
    height: 48px;
    display: flex;
    gap: 24px;
    align-items: center;
    margin: 0;
}

/* 푸터 */
.footer {
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    height: 72px;
    text-align: center;
    line-height: 72px;
    font-size: var(--Text-supported);
    Color: var(--ColorTextTertiary);
}