:root {
    /* 폰트사이즈 */
    --Text-Title: 20px;
    --Text-Subtitle: 20px;
    --Text-SectionTitle: 18px;
    --Text-Button: 15px;
    --Text-Paragraph: 15px;
    --Text-SectionSubTitle: 14px;
    --Text-Supported: 14px;

    /* 간격값 */
    --Space-Sm: 8px;
    --Space-Md: 16px;
    --Space-Lg: 32px;

    /* 컬러값 */
    --ColorBrand: rgb(241, 239, 228, 0.6);
    /* --ColorBase:#F1EFE4; */
    --ColorBase: #F5F7F7;
    --ColorSurface: #fff;
    --ColorTextPrimary: #333;
    --ColorTextSecondary: #666;
    --ColorTextTertiary: #999;
    --ColorTextOnSurface: #fff;
    --ColorBorder5: rgb(0, 0, 0, 0.05);
    --ColorBorder10: rgb(0, 0, 0, 0.1);
    --ColorBorderSolid: #EFF0F5;

    /* R값 */
    --BorderRadius-Xs: 4px;
    --BorderRadius-Md: 8px;
    --BorderRadius-Lg: 12px;

    /* Transition */
    --transition: 100ms all;
}

body {
    background: var(--ColorBase);
    margin: 0;
    font-family: 'pretendard', sans-serif;
}

/* 헤더 */
.header {
    width: 100%;
    height: 56px;
    background: var(--ColorSurface);
    /* border-bottom: 1px solid var(--ColorBorder10); */
    box-shadow: rgb(234 234 236) 0px 1px 0px;
    z-index: 1000;
    position: fixed;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 56px;
    line-height: 40px;
    max-width: 1200px;
    padding: 0px 20px;
}

.LogoWrap {
    cursor: pointer;
    display: flex;
}

.LogoSymbol {
    width: 96px;
    margin-right: 48px;
}

.SymbolLink {
    display: flex;
}

.HeaderTitle {
    font-size: var(--Text-Supported);
    line-height: 56px;
    color: var(--ColorTextTertiary);
}

.BtnBasic, .BtnIcon {
    font-size: var(--Text-Button);
    cursor: pointer;
    background: var(--ColorBrand);
    color: var(--ColorTextPrimary);
    padding: 0px 24px;
    border-radius: var(--BorderRadius-Md);
    border: 1px solid var(--ColorBorder5);
    transition: var(--transition);
    width: 100%;
    height: 48px;
}

.BtnBasic:hover , .BtnIcon:hover {
    opacity: 0.7;
}

.BtnIcon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BtnInnerIc{
    width: 16px;
    height: 16px;
}


/* 공통 css */
.main_contents {
    max-width: 1200px;
    display: flex;
    gap: 24px;
    margin: 0 auto;
    padding: 96px 20px 40px 20px;
}

.section-title {
    color: var(--ColorTextPrimary);
    font-weight: 700;
    font-size: var(--Text-SectionTitle);
}

.section-subtitle {
    font-size: var(--Text-Subtitle);
}

.selectboxname,
#date,
.base {
    width: 100%;
    height: 48px;
    background: var(--ColorBase);
    border: 1px solid var(--ColorBorderSolid);
    padding: 16px;
    appearance: none;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--BorderRadius-Md);
}
.ToggleUI{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background: var(--ColorBase);
    border: 1px solid var(--ColorBorderSolid);
    padding: 0px 16px;
    height: 46px;
    line-height: 46px;
    border-radius: var(--BorderRadius-Md);
    font-size: var(--Text-Supported);
    color: var(--ColorTextPrimary);
    justify-content: space-between;
    align-items: center;
}

.toggleSwitch {
    width: 52px;
    height: 32px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #E9E9EA;
    cursor: pointer;
  }
  
.toggleSwitch .toggleButton {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #fff;
}

.toggleSwitch.active {
background: #65C466;
}

.toggleSwitch.active .toggleButton {
left: calc(100% - 30px);
background: #fff;
}

.toggleSwitch, .toggleButton {
transition: all 0.2s ease;
}

.innerselectbox {
    width: 100%;
    height: 100%;
    padding: 0px 12px;
    background: var(--ColorSurface);
    border: 1px solid var(--ColorBorderSolid);
    appearance: none;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--BorderRadius-Md);
}

.checkboxsel {
    width: 20px;
    height: 20px;
    margin-left: 24px;
}

.checkselection {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px 8px 8px;
    background: var(--ColorBase);
    border: 1px solid var(--ColorBorderSolid);
    border-radius: var(--BorderRadius-Md);
}

.base:hover {
    border: 1px solid var(--ColorTextPrimary);
}

.selectbox_detail {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 12px;
    /* margin-bottom: 16px; */
}

.section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 28px;
}

.section-mark {
    color: var(--ColorTextPrimary);
    font-size: var(--Text-SectionTitle);
    font-weight: 500;
    margin-right: 4px;
    color: #5CB7AD;
}

.borderline {
    height: 1px;
    background: var(--ColorBorder5);
    margin-bottom: 20px;
}

.bordercontentsline {
    height: 1px;
    background: var(--ColorBorder5);
    margin: 24px 0px 24px 0px;
}

.selectbox_label {
    color: var(--ColorTextPrimary);
    font-size: var(--Text-SectionSubTitle);
    font-weight: 500;
    line-height: 28px;
    min-width: 120px;
    margin-right: 40px;
}

.selectgroup {
    height: 48px;
    width: 100%;
    display: flex;
    gap: 24px;
    align-items: center;
    margin: 0;
}

/* 푸터 */
.footer {
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    text-align: center;
    font-size: 12px;
    Color: var(--ColorTextTertiary);
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 2px;
}

.footerlogo{
    width: 69px;
}