:root {
    /* 폰트사이즈 */
    --Text-Title: 20px;
    --Text-Subtitle: 20px;
    --Text-SectionTitle: 18px;
    --Text-Button: 14px;
    --Text-Paragraph: 15px;
    --Text-SectionSubTitle: 14px;
    --Text-Supported: 14px;

    /* 간격값 */
    --Space-Sm: 8px;
    --Space-Md: 16px;
    --Space-Lg: 32px;

    /* 컬러값 */
    --ColorBrand: rgb(241, 239, 228, 0.6);
    /* --ColorBase:#F1EFE4; */
    --ColorBase: #F5F7F7;
    --ColorSurface: #fff;
    --ColorTextPrimary: #333;
    --ColorTextSecondary: #666;
    --ColorTextTertiary: #999;
    --ColorTextOnSurface: #fff;
    --ColorBorder5: #0000000d;
    --ColorBorder10: #0000001a;
    --ColorBorderSolid: #EFF0F5;
    --ColorTintBlack: #111111;
    --ColorTintRed: #ff0000;

    /* R값 */
    --BorderRadius-Xs: 4px;
    --BorderRadius-Md: 8px;
    --BorderRadius-Lg: 12px;

    /* Transition */
    --transition: 100ms all;
}

body {
    background: var(--ColorBase);
    margin: 0;
    font-family: 'pretendard', sans-serif;
}

/* 헤더 */
.header {
    width: 100%;
    height: 56px;
    background: var(--ColorSurface);
    /* border-bottom: 1px solid var(--ColorBorder10); */
    box-shadow: rgb(234 234 236) 0px 1px 0px;
    z-index: 1000;
    position: fixed;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 56px;
    line-height: 40px;
    max-width: 1200px;
    padding: 0px 20px;
}

.LogoWrap {
    cursor: pointer;
    display: flex;
}

.LogoSymbol {
    width: 96px;
    margin-right: 40px;
}

.SymbolLink {
    display: flex;
}

.HeaderTitle {
    font-size: var(--Text-Supported);
    line-height: 56px;
    color: var(--ColorTextTertiary);
}

.BtnBasic, .BtnIcon {
    font-size: var(--Text-Button);
    cursor: pointer;
    background: var(--ColorBrand);
    color: var(--ColorTextPrimary);
    padding: 0px 24px;
    border-radius: var(--BorderRadius-Md);
    border: 1px solid var(--ColorBorder5);
    transition: var(--transition);
    width: 100%;
    height: 48px;
    letter-spacing: -0.04em;
}

.BtnBasic:hover , .BtnIcon:hover {
    opacity: 0.7;
}

.BtnIcon{
    font-family: 'Jeju Myeongjo', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BtnInnerIc{
    width: 16px;
    height: 16px;
}

.Btnsmall{
    font-size: var(--Text-Supported);
    cursor: pointer;
    background: var(--ColorBrand);
    color: var(--ColorTextPrimary);
    padding: 0px 12px;
    border-radius: var(--BorderRadius-Xs);
    border: 1px solid var(--ColorBorder5);
    transition: var(--transition);
    height: 22px;
}

.Btnsmall:hover{
    opacity: 0.7;
}


/* 공통 css */
.main_contents {
    max-width: 1200px;
    display: flex;
    gap: 24px;
    margin: 0 auto;
    padding: 96px 20px 40px 20px;
    margin-bottom: 80px;
    height: 100vh;
}

.section-title {
    color: var(--ColorTextPrimary);
    font-weight: 700;
    font-size: var(--Text-SectionTitle);
}

.section-subtitle {
    font-size: var(--Text-Subtitle);
}
.sectionFront{
    display: flex;
    align-items: center;
}

.sectionBack{
    display: flex;
    align-items: center;
    gap: 4px;
}

.selectboxname,
.base{
    font-family: 'pretendard', sans-serif;
    width: 100%;
    height: 48px;
    border: 1px solid var(--ColorBorderSolid);
    padding: 16px;
    appearance: none;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--BorderRadius-Md);
    background: var(--ColorBase);
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

#date{
    font-family: 'pretendard', sans-serif;
    width: 100%;
    height: 48px;
    border: 1px solid var(--ColorBorderSolid);
    padding: 16px;
    appearance: none;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--BorderRadius-Md);
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}

#date:hover{
    border: 1px solid var(--ColorTextPrimary);
}

.base:focus{
    background: var(--ColorSurface);
}

.innerselectbox {
    width: 100%;
    height: 100%;
    padding: 0px 12px;
    border: 1px solid var(--ColorBorderSolid);
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--BorderRadius-Md);
}
.custom-select{
    width: 100%;
    height: 48px;
    padding: 0px 16px;
    border: 1px solid var(--ColorBorderSolid);
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--BorderRadius-Md);
}
.LoginWrap{
    display: flex;
    align-items: center;
    gap: 16px;
}

.LoginInfo{
    color: var(--ColorTextPrimary);
    font-size: var(--Text-Button); 
}
.LoginBound{
    height: 8px;
    width: 1px;
    background-color: var(--ColorBorder10);
}

.LoginBtn{
    padding: 8px 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--ColorTextTertiary);
    font-size: var(--Text-Button); 
}

@keyframes slideUp {
    from {
      transform: translateY(-8px);
    }
    to {
      transform: translateY(0px);
    }
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-8px);
    }
  }

  

.selectboxname, .custom-select{
    background: url('../Resource/assets/Icon/Arrow.svg') no-repeat 95% 50% , var(--ColorBase);
    background-size: 16px 16px;
}

.innerselectbox{
    background: url('../Resource/assets/Icon/Arrow.svg') no-repeat 80% 50% , var(--ColorSurface);
    background-size: 12px 12px;
}

.selectboxname:hover, .custom-select:hover{
    border: 1px solid var(--ColorTextPrimary);
}

.innerselectbox:hover{
    cursor: not-allowed;
}

/* 커스텀 셀렉트 박스 */

.custom-select-container {
    position: relative;
    width: 100%;
  }


  .custom-select option{
    display: none;
  }

  #custom-options {
    z-index: 1001;
    padding: 24px;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: calc(100% - 50px);
    background-color: var(--ColorSurface);
    border-radius: var(--BorderRadius-Md);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    animation-fill-mode: both;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    border: 1px solid var(--ColorBorder10);
  }
  
  #custom-options-invite {
    max-height: 360px;
    overflow-y: scroll;
    z-index: 1001;
    padding: 24px;
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: calc(100% - 50px);
    background-color: var(--ColorSurface);
    border-radius: var(--BorderRadius-Md);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    animation-fill-mode: both;
    text-align: center;
    border: 1px solid var(--ColorBorder10);
  }
  .custom-option {
    line-height: 28px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    font-size: 16px;
    font-family: 'Pretendard-Regular', serif;
    color: #333;
    cursor: pointer;
    transition: var(--transition);
  }
  

  .OptionTitle{
    font-weight: bold;
    margin-bottom: 12px;
  }
  
  .custom-option:hover {
    border-radius: var(--BorderRadius-Xs);
    background-color: var(--ColorBorderSolid);
  }

  #TypeGowun{
    font-family: 'GowunDodum-Regular', serif;
  }
  #TypeChosunilbo{
    font-family: 'Chosunilbo_myungjo', serif;
  }
  #TypeMapo{
    font-family: 'MapoFlowerIsland', serif;
  }
  #TypePretendard{
    font-family: 'Pretendard-Regular', serif;
  }

  /* 텍스트 박스 */

.TextBox{
    white-space: nowrap;
    width: 100%;
    height: 100px;
    padding: 16px;
    box-sizing: border-box;
    border: solid 1px var(--ColorBorderSolid);
    background-color: var(--ColorBase);
    border-radius: var(--BorderRadius-Md);
    font-size: var(--Text-Supported);
    resize: none;
}

input[type="checkbox"]{
    cursor: pointer;
}

.TextBox:focus{
    background-color: var(--ColorSurface);
}


.ToggleUI{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background: var(--ColorBase);
    border: 1px solid var(--ColorBorderSolid);
    padding: 0px 16px;
    height: 46px;
    line-height: 46px;
    border-radius: var(--BorderRadius-Md);
    font-size: var(--Text-Supported);
    color: var(--ColorTextPrimary);
    justify-content: space-between;
    align-items: center;
}

.toggleSwitch {
    width: 52px;
    height: 32px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #E9E9EA;
    cursor: pointer;
  }
  
.toggleSwitch .toggleButton {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #fff;
}

input[type="date"]{
    position: relative;
    padding: 12px;
    background: url('../Resource/assets/Icon/calendar.svg') no-repeat 95% 50% , var(--ColorBase);
    background-size: 16px 16px;
}
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button{
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}



.toggleSwitch.active {
background: #65C466;
}

.toggleSwitch.active .toggleButton {
left: calc(100% - 30px);
background: #fff;
}

.toggleSwitch, .toggleButton {
transition: all 0.2s ease;
}

.checkboxsel {
    width: 20px;
    height: 20px;
    margin-left: 24px;
}

.checkselection {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px 8px 8px;
    background: var(--ColorBase);
    border: 1px solid var(--ColorBorderSolid);
    border-radius: var(--BorderRadius-Md);
    gap: 12px;
}

.base:hover {
    border: 1px solid var(--ColorTextPrimary);
}

.cont-select {
    position: relative;
    width: 200px;
}

.selectbox_detail {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 12px;
    /* margin-bottom: 16px; */
}

.list-member {
    display: none;
    position: absolute;
    width: 100%;
    top: 49px;
    left: 0;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.btn-select.on {
    background: url("images/icon-Triangle-up.png") center right 14px no-repeat;
}

.btn-select.on+.list-member {
    display: block;
}

.list-member li {
    height: 40px;
    padding: 5px 8px;
    box-sizing: border-box;
}

.list-member li button {
    width: 100%;
    padding: 7px 10px;
    border: none;
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-align: left;
    /* 말줄임 */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-member li button:hover,
.list-member li button:focus {
    background-color: #F8E4FF;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 28px;
}

.section-mark {
    color: var(--ColorTextPrimary);
    font-size: var(--Text-SectionTitle);
    font-weight: 500;
    margin-right: 4px;
    color: #5CB7AD;
}

.WarningDes{
    font-size: var(--Text-Supported);
    color: var(--ColorTintRed);
}

.WarnImg{
    width: 14px;
    height: 14px;
}

.borderline {
    height: 1px;
    background: var(--ColorBorder5);
    margin-bottom: 20px;
}

.bordercontentsline {
    height: 1px;
    background: var(--ColorBorder5);
    margin: 24px 0px 24px 0px;
}



.selectbox_label {
    color: var(--ColorTextPrimary);
    font-size: var(--Text-SectionSubTitle);
    font-weight: 500;
    line-height: 28px;
    min-width: 120px;
    margin-right: 40px;
}

.selectgroup {
    height: 48px;
    width: 100%;
    display: flex;
    gap: 24px;
    align-items: center;
    margin: 0;
}

/* 푸터 */
.footer {
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    text-align: center;
    font-size: 12px;
    Color: var(--ColorTextTertiary);
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap: 2px;
}

.footerlogo{
    width: 69px;
}

/* 바텀네비게이션 */

.BottomNavigation{
    position: fixed;
    height: 80px;
    background-color: var(--ColorSurface);
    width: 100%;
    bottom: 0;
    border-top: 1px solid var(--ColorBorder5);
}
.BottomNavInnerWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 10001;
    gap: 48px;
    padding: 0px 20px;
}

.Progress{
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: center;
}

.ProgressBar{
    width: 100%;
    height: 6px;
    background: var(--ColorBorder10);
    border-radius:16px;
}

.ProgressPercent{
    height: 6px;
    width: 200px;
    z-index: 1001;
    background: var(--ColorTextPrimary);
    border-radius:16px;
}

.ProgressDes{
    width: 15%;
    font-size: var(--Text-Supported);
    color: var(--ColorTextPrimary);
}

.ProgressSave{
    width: 200px;
    height: 60px;
    background: var(--ColorTintBlack);
    border-radius: 100px;
    border: none;
    font-size: var(--Text-Button);
    color: var(--ColorSurface);
    cursor: pointer;
    transition: var(--transition);
}

.ProgressTemporarySave{
    width: 200px;
    height: 60px;
    border-radius: 100px;
    border: 1px solid var(--ColorBorder10);
    font-size: var(--Text-Button);
    color: var(--ColorTextPrimary);
    background: var(--ColorSurface);
    cursor: pointer;
    transition: var(--transition);
}

.ProgressTemporarySave:hover{
    background: var(--ColorBorder5);
    border: 1px solid var(--ColorBorder10);
}

.ProgressSave:hover{
    opacity: 0.9;
}

.NavButtonGroups{
    display: flex;
    align-items: center;
    gap: 16px;
}

.naver_Wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}